[run]
branch = True
parallel = True
source = provision
concurrency = multiprocessing,thread
omit =
    provision/cli.py
    provision/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
